<h1>Things to do</h1>
<div>
    <h3><a routerLink="/posts">Post</a></h3>
    <p>Based on Fake Backend</p>
    <ul>
        <li>Can Create new Title</li>
        <li>Delete Title</li>
        <li>Get updated on the dom</li>
    </ul>
</div>
<div>
    <h3><a routerLink="/firebase">Firebase</a></h3>
    <p>Form Submission on Firebase Backend</p>
    <ul>
        <li>Perform values based on model</li>
        <li>Perform Validation</li>
        <li>Responsive Design</li>
        <li>Update Values of the form in the database</li>
        <li>Real time Preview of the <a class="link" routerLink="/database">Database</a> in Json</li>
    </ul>
</div>